# Configuration file for grbl
#
#  Supported variables:
#    $11 - Junction deviation, mm
#    $12 – Arc tolerance, mm
#    $30 - Max spindle speed, RPM
#    $31 - Min spindle speed, RPM
#    $100, $101 and $102 – [X,Y,Z] steps/mm
#    $110, $111 and $112 – [X,Y,Z] Max rate, mm/min
#    $120, $121, $122 – [X,Y,Z] Acceleration, mm/sec^2
#
#  Example: Set Max spindle speed to 1000rpm
#          $30=1000
#
#  More info can be found (only the above commands/variables are supported):
#  https://github.com/gnea/grbl/blob/master/doc/markdown/settings.md
#
$120=1234
$121=1234
$122=1234
